@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @*<li>@Html.ActionLink("Search", "Search", "Search")</li>*@
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sign Up<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li>@Html.ActionLink("Student", "StudentSignUp", "SignUp")</li>
                    <li>@Html.ActionLink("Faculty", "FacultySignUp", "SignUp")</li>
                </ul>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sign In<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li>@Html.ActionLink("Student", "StudentSignIn", "SignIn")</li>
                    <li>@Html.ActionLink("Faculty", "FacultySignIn", "SignIn")</li>
                    <li>@Html.ActionLink("Admin", "AdminSignIn", "SignIn")</li>
                </ul>
            </ul>
        </div>
    </div>
</div>

<address>
    Md. Jubair Ibna Mostafa<br />
    Fazlul Huq Muslim Hall<br />
    <abbr title="Phone">M:</abbr>
    01783905098
</address>
